<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jonatanperez.c4a" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal" >
        </activity>
        <activity
            android:name=".PantallaCuando"
            android:label="@string/title_activity_pantalla_cuando" >
        </activity>
        <activity
            android:name=".PreguntaEscala"
            android:label="@string/title_activity_pregunta_escala" >
        </activity>
        <activity
            android:name=".PreguntaRadio"
            android:label="@string/title_activity_pregunta_radio" >
        </activity>
        <activity
            android:name=".PreguntaCheck"
            android:label="@string/title_activity_pregunta_check" >
        </activity>
        <activity
            android:name=".SubirImagen"
            android:label="@string/title_activity_subir_imagen" >
        </activity>
        <activity
            android:name=".activity_pregunta"
            android:label="@string/title_activity_activity_pregunta" >
        </activity>

        <service
            android:name=".Connect"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
